<!DOCTYPE html>
<html>
  <head>
    <!-- This CSS package applies Google styling; it should always be included. -->
    <!-- https://developers.google.com/apps-script/add-ons/guides/css -->
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css">  -->
    <?!= includeHTML('style.css.html'); ?>
  </head>

  <body>
    <p><?= summary ?></p>
    <ol>
      <? for (let i = 0; i < test_ids.length; i++) { ?>
      <li>
        <a href="<?= 'https://www.webpagetest.org/result/' + test_ids[i] + '/' ?>">
          <?= test_ids[i] ?>
        </a>
      </li>
      <? } ?>
    </ol>
  </body>
</html>
