<!DOCTYPE html>
<html>
  <head>
    <base target="_blank">
    <!-- This CSS package applies Google styling; it should always be included. -->
    <!-- https://developers.google.com/apps-script/add-ons/guides/css -->
    <!-- <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
    <?!= includeHTML('style.css.html'); ?>
  </head>

  <body>
    <form class="" name="CrUX query" method="POST" action="">
      <fieldset>
        <legend>Query parameters</legend>
        <p>Parameters for the <a href="https://cloud.google.com/bigquery/docs/parameterized-queries">BigQuery parameterized query</a>.</p>

        <p><code>@url</code></p>
        <input id="crux-url" name="crux-url" required title="The URL to search in CrUX" type="url" value="<?= url ?>">

        <p><code>@months</code></p>
        <ul class="cluster" data-align="start">
          <? for (let i = 0; i < crux_months.length; i++) { ?>
          <li>
            <input type="text" id="<?= crux_months[i] ?>" name="<?= crux_months[i] ?>" required value="<?= crux_months[i] ?>">
          </li>
          <? } ?>
        </ul>
      </fieldset>

      <fieldset>
        <legend>BigQuery Job Options</legend>
        <p>Configuration options for the <a href="https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#jobconfigurationquery">BigQuery query job</a>.</p>

        <p><code>maximumBytesBilled</code></p>
        <input id="maximum-bytes-billed" name="maximum-bytes-billed" type="number" min="0" step="1000000000" value="12000000000">
      </fieldset>

    <button class="action" name="submit" type="submit">Run query</button>
  </form>

  <p>Upon form submission, the following query will be executed using the provided parameters.</p>
  <pre><code><?= sql ?></code></pre>

  <?!= includeHTML('shared.js.html'); ?>
  <?!= includeHTML('dialog-crux-query.js.html'); ?>
  </body>
</html>
