<!DOCTYPE html>
<html>
  <head>
    <!-- This HTML is rendered in an iframe. If there are links in this iframe,
    we want the default target to be the top browsing context, not the iframe.
    https://electrictoolbox.com/base-target-not-javascript/ -->
    <base target="_top">

    <!-- This CSS package applies Google styling; it should always be included. -->
    <!-- https://developers.google.com/apps-script/add-ons/guides/css -->
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
    <?!= includeHTML('sidebar-css.html'); ?>
  </head>

  <!-- see here for how to style a sidebar -->
  <!-- https://developers.google.com/apps-script/add-ons/guides/css#sidebars -->

  <body>
    <form class="box flow" name="Audit" method="POST" action="">
      <fieldset>
        <legend>URL</legend>
        <p class="gray">Paste the URL to audit.</p>
        <input id="url-to-audit" name="url" placeholder="https://www.google.com/" required title="The URL to audit" type="url">
      </fieldset>

      <fieldset>
        <legend><?= wpt_profiles_legend ?></legend>
        <p class="gray">Select all the profiles you want to test. Cookies will be set automatically from the <code>cookies</code> spreadsheet tab.</p>
        <ul class="cluster" data-align="start">
          <? for (let i = 0; i < wpt_profiles.length; i++) { ?>
          <li>
            <label for="<?= wpt_profiles[i].id ?>"><?= wpt_profiles[i].name ?></label>
            <input type="checkbox" id="<?= wpt_profiles[i].id ?>" name="<?= wpt_profiles[i].name ?>" data-row-index="<?= wpt_profiles[i]['row-index'] ?>">
          </li>
          <? } ?>
        </ul>
      </fieldset>

      <fieldset>
        <legend>WPT script</legend>
        <p class="gray">WebPageTest <code>script</code> parameter. See <a href="https://docs.webpagetest.org/scripting/">Scripting</a>.</p>
        <textarea id="wpt-script" name="wpt-script" rows="4" cols="50">navigate %URL%&#13;&#10;execAndWait document.querySelector('#accept-cookies').click()</textarea>
      </fieldset>

      <fieldset>
        <legend>JS script</legend>
        <p class="gray">JavaScript to run on the page as soon as the document exists.</p>
        <textarea id="inject-script" name="inject-script" rows="4" cols="50">console.log('Hello World')</textarea>
      </fieldset>

      <button class="action" name="submit" type="submit">Submit tests to WPT</button>
    </form>

    <?!= includeHTML('sidebar-js.html'); ?>
  </body>
</html>
